{% extends 'flatpages/default.html' %}

{% block title %}
News_edit
{% endblock title %}

{% block content %}
<h3>Редактирование новости:</h3>
    <hr>
    <table>
        <tr>
            <td>
                Категория
            </td>
            <td>
                Заголовок
            </td>
            <td>
                Текст
            </td>
        </tr>
    </table>

<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Редактировать новость">
</form>

{% endblock content %}